<div [ngClass]="alerta" class="alert" role="alert">
    <strong>danger</strong> alerta!!!!!
</div>
<button type="button" class="btn btn-info" (click)="alerta = 'alert-info'">info</button>
<button type="button" class="btn btn-success" (click)="alerta = 'alert-success'">Success</button>

<br>

<h3 [ngClass]="{'text-danger': propiedad.danger, 'text-info': !propiedad.danger  }">
    Hola mundo</h3>

<button [ngClass]="{'btn-danger': propiedad.danger, 'btn-info': !propiedad.danger}" (click)="propiedad.danger = !propiedad.danger" type="button" class="btn">
  Changeee
</button>
<br><br>
<button type="button" class="btn btn-primary" [disabled]="loading" (click)="ejecutar()">
  <i [ngClass]="{'fa-refresh fa-spin': loading, 'fa-save': !loading}" class = "fa"></i>
  <span *ngIf="loading"> Espere</span>
  <span *ngIf="!loading"> Guardando</span>
</button>